<div class="container">
    <h1>Curriculum</h1>

    <p>Subir o arrastrar archivo</p>
    <p-fileUpload name="uploadedFiles[]" (uploadHandler)="uploadFile($event)" accept="application/pdf"
        [customUpload]="true" uploadLabel="Subir archivo" cancelLabel="Cancelar" chooseLabel="Elegir archivo" [disabled]="loading" >
        <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
                <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes</li>
            </ul>
        </ng-template>
    </p-fileUpload>
</div>